include components/config.pug
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="Hola mundo")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
		title Platzi Gaming
	body 
		include components/header.pug
		section.intro 
			div.intro__image
				img(src="images/imagen.png", alt="Image")
			.intro__contenido 
				h2 #{titulos[0][1]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste velit laudantium voluptatibus odio, similique 
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				a.boton leer más
			ul 
				each titulo in titulos
					li=titulo
		main.contenido 
			+caja("imagen.png", titulos[1], "Hola, soy un contenido que funciona por medio de variables")
			+caja("imagen.png", titulos[2], "Hola, soy un segundo texto generico que funciona como ejemplo")
			+caja("imagen.png", titulos[3], "Hola, soy un tercer texto generico que funciona como ejemplo")
			+caja("imagen.png", titulos[3], "Hola, soy un cuarto texto generico que funciona como ejemplo")
		
		include components/footer.pug